body {
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    text-align: center;
}
.column {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    flex-wrap: nowrap;
}
.column1 {
    flex: 60%;
}

.column2 {
    flex: 40%;
}
circle:hover{
    fill:orange;
}
.selected {
    stroke: green;
    stroke-width: 4;
}
.circle {
    fill: mediumpurple;
}
.tooltip {
    position: absolute;
    background-color: grey;
    border:  solid;
    border-width: 2px;
    border-radius: 5px;
    padding: 5px;
}
  
.bar {
    fill:mediumpurple;
}
  
.bar:hover {
      fill:orange;
}
h2 {
    text-align: center;
}
